<div class="login-container">
  <h2>
    <img src="/assets/vitalsis.png" alt="Vitalsis">
  </h2>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label>Email</label>
      <input type="email" formControlName="email" />
      @if (loginForm.get('email')?.invalid && loginForm.get('email')?.touched) {
      <div>Email inválido.</div>
      }
    </div>

    <div class="form-group">
      <label>Senha</label>
      <input type="password" formControlName="senha" />
      @if (loginForm.get('senha')?.invalid && loginForm.get('senha')?.touched) {
      <div>Senha inválida.</div>
      }
    </div>

    <div class="botao-login">
      <button
        mat-raised-button
        color="warn"
        class="botao-personalizado"
        type="submit">Entrar</button>
    </div>

    <div class="register-link">
      Não tem cadastro?
      <a routerLink="/cadastro">Cadastra-se aqui</a>
    </div>
  </form>
</div>
