<h2>Cadastro</h2>
<form [formGroup]="cadastroForm" (ngSubmit)="onSubmit()">
  <label>Nome</label>
  <input type="text" formControlName="nome" />

  <label>Email</label>
  <input type="email" formControlName="email" />

  <label>Senha</label>
  <input type="password" formControlName="senha" />

  <label>Confirmar senha</label>
  <input type="password" formControlName="confirmarSenha" />

  <button
    mat-raised-button
    color="primary"
    type="submit"
    [disabled]="cadastroForm.invalid"
  >
    <mat-icon>person_add</mat-icon>
    Cadastrar
  </button>
</form>
