<mat-sidenav-container class="sidenav-container">
 
  <mat-sidenav #sidenav mode="side" [(opened)]="sidenavAberto">
    <mat-nav-list>
      <a mat-list-item routerLink="/produtos">📦 Produtos</a>
      <a mat-list-item routerLink="/nota-fiscal">📄 Notas Fiscais</a>
    </mat-nav-list>
  </mat-sidenav>

  
  <mat-sidenav-content>

    <mat-toolbar color="primary">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span style="margin-left: 12px">Menu</span>

      <span class="spacer"></span>

      <button mat-button class="btn-sair" (click)="logout()">
        <mat-icon>logout</mat-icon>
        <span class="sair-btn">Sair</span>
      </button>
    </mat-toolbar>

   
    <div class="conteudo">
      <span style="font-size: 1.5em">Olá,</span>
      <h1>{{ nomeUsuario }}!</h1>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
